@font-face {
    font-family: ArgentumNovus-ExtraBold; /* Гарнитура шрифта */
    src: url(fonts/ArgentumNovus-ExtraBold.ttf); /* Путь к файлу со шрифтом */
   }
   body{
    font-family:ArgentumNovus-ExtraBold, 'Comic Sans MS', cursive;
   }
   .decor{
    margin: 2% 10% 0% 10%;
   }
   .pdecor{
    margin: 0% 10% 0% 10%;
   }

