@font-face {
    font-family: ArgentumNovus-ExtraBold; /* Гарнитура шрифта */
    src: url(fonts/ArgentumNovus-ExtraBold.ttf); /* Путь к файлу со шрифтом */
   }
   body{
    font-family:ArgentumNovus-ExtraBold, 'Comic Sans MS', cursive;
    color:blue;
    background-color: rgb(241, 228, 211);
   }
   .colorchange:hover
   {
    color:black;
    display: flex;
    flex-direction: column;
   }
   .decor{
    margin: 2% 10% 0% 10%;
   }
   .pdecor{
    margin: 2% 10% 0% 10%;
    display: flex;
   }
   .memecontrol{
    display: none;
   }
   p:hover .memecontrol{
    display: block;
    height: auto;
    
   }
   .memecontrol img{
    width: 25%;
    height: inherit;
    display: inherit;
    margin-left: auto;
    margin-right: auto;
    }
    

 

